@font-face {
    font-family: "Rubik";
    src: url(/src/assets/fonts/rubik.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;